body
{
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    line-height: 1.25em;
}

h1
{
    font-family: Times New Roman, serif;
    font-size: 18px;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
}

h2
{
    font-family: Times New Roman, serif;
    font-size: 16px;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
}

h1:first-child, h2:first-child
{
    margin-top: 0;
}

p
{
    margin-bottom: 1em;
}

strong
{
    font-weight: bold;
}
